.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #00b8ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code::after {
  content: '';
  display: inline-block;
  background-color: white;
  width: 10px;
  height: 1.3em;
  vertical-align: text-bottom;
  animation: blink-cursor 1s steps(1) infinite;
  margin-left: 2px;
}

@keyframes blink-cursor {
    50% {
        opacity: 0;
    }
}